.button {
  height: 50px;
  width: 200px;
  font-size: 16px;
  color: $alt-color;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: $brand-color;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
